<div class="uk-margin uk-width-auto">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">MY GOALS</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <form>
                <ul class="uk-list" id='goals-ul'>
                  {{#each goals}}
                        {{#if (used content1)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content1}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content2)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content2}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content3)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content3}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content4)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content4}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content5)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content5}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content6)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content6}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content7)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content7}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content8)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content8}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content9)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content9}}</textarea></label>
                    </li>
                    {{/if}}
                    {{#if (used content10)}}
                        <li>
                        <label><textarea
                                class="uk-input uk-form-blank uk-form-width-medium goalValue" type="text"
                                placeholder="Enter an item...">{{content10}}</textarea></label>
                    </li>
                    {{/if}}
                    {{/each}}  
                </ul>
                <a id='goal-item' href="#">More Goals? Click to add...</a>
            </form>

        </div>
    </div>
</div>

<script src="/js/goalElements.js" defer></script>