
{{#each schedules}}
<div class="uk-margin uk-width-auto">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Today's Schedule</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <table class='uk table uk-table-striped'>
                <thead>
                    <tr>
                        <th class='uk-width-small uk-table-middle'>Time</th>
                        <th class='uk-table-expand'>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="uk-label">8:00am</span></td>
                        <td><span class="uk-label">{{content8am}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">9:00am</span></td>
                        <td><span class="uk-label">{{content9am}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">10:00am</span></td>
                        <td><span class="uk-label">{{content10am}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">11:00am</span></td>
                        <td><span class="uk-label">{{content11am}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">12:00pm</span></td>
                        <td><span class="uk-label">{{content12pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">1:00pm</span></td>
                        <td><span class="uk-label">{{content1pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">2:00pm</span></td>
                        <td><span class="uk-label">{{content2pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">3:00pm</span></td>
                        <td><span class="uk-label">{{content3pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">4:00pm</span></td>
                        <td><span class="uk-label">{{content4pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">5:00pm</span></td>
                        <td><span class="uk-label">{{content5pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">6:00pm</span></td>
                        <td><span class="uk-label">{{content6pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">7:00pm</span></td>
                        <td><span class="uk-label">{{content7pm}}</span></td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">8:00pm</span></td>
                        <td><span class="uk-label">{{content8pm}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/each}}
