
{{#each todos}}
<div class="uk-margin uk-width-1-4">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <h3 class="uk-card-title uk-margin-remove-bottom">TO DO LIST</h3>
            </div>
        </div>
        <div class="uk-card-body">
            <p>{{content1}}</p>
            <p>{{content2}}</p>
            <p>{{content3}}</p> 
            <p>{{content4}}</p>
            <p>{{content5}}</p>
            <p>{{content6}}</p>
            <p>{{content7}}</p>
            <p>{{content8}}</p>
            <p>{{content9}}</p>
            <p>{{content10}}</p>
        </div>
    </div>
</div>
{{/each}}
