
{{#each todos}}
<div class="uk-margin-bottom uk-width-1-4@l uk-width-1-3@m uk-width-1-1@s widgets">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <h3 class="uk-card-title uk-margin-remove-bottom">TO DO LIST</h3>
            </div>
        </div>
        <div class="checker uk-card-body">
            <p{{#if content1IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content1IsChecked'>{{content1}}</p>
            <p{{#if content2IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content2IsChecked'>{{content2}}</p> 
            <p{{#if content3IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content3IsChecked'>{{content3}}</p>
            <p{{#if content4IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content4IsChecked'>{{content4}}</p>
            <p{{#if content5IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content5IsChecked'>{{content5}}</p>
            <p{{#if content6IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content6IsChecked'>{{content6}}</p>
            <p{{#if content7IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content7IsChecked'>{{content7}}</p>
            <p{{#if content8IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content8IsChecked'>{{content8}}</p>
            <p{{#if content9IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content9IsChecked'>{{content9}}</p>
            <p{{#if content10IsChecked}} uk-icon="icon: check"{{/if}} data-todoId={{id}} data-todoItem='content10IsChecked'>{{content10}}</p>
        </div>
    </div>
</div>
{{/each}}
