<div class="uk-margin uk-width-auto">
    <div class="uk-card uk-card-default uk-width-1-1">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Today's Schedule</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <table class='uk table uk-table-striped'>
                <thead>
                    <tr>
                        <th class='uk-width-auto uk-table-middle'>Time</th>
                        <th class='uk-table-expand'>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="uk-label uk-width-auto">8:00am</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeEight">{{schedules.[0].content8am}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">9:00am</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeNine">{{schedules.[0].content9am}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">10:00am</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-form-width-large uk-form-small" type="text" id="timeTen">{{schedules.[0].content10am}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">11:00am</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeEleven">{{schedules.[0].content11am}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">12:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeTwelve">{{schedules.[0].content12pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">1:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeThirteen">{{schedules.[0].content1pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">2:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeFourteen">{{schedules.[0].content2pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">3:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeFifteen">{{schedules.[0].content3pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">4:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeSixteen">{{schedules.[0].content4pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">5:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeSeventeen">{{schedules.[0].content5pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">6:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeEighteen">{{schedules.[0].content6pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">7:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeNineteen">{{schedules.[0].content7pm}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label uk-width-auto">8:00pm</span></td>
                        <td><textarea rows="1" class="uk-input uk-form-blank uk-width-1-1 uk-form-small" type="text" id="timeTwenty">{{schedules.[0].content8pm}}</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>