<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav"><span uk-icon='icon: menu'></span></button>

{{!-- side bar for navigating the site --}}
<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-active"><a href="/note" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: plus"></span>Add Today's Page</a></li>
            <li class="uk-nav-header">PAGES</li>
            <li id='pageArchive'><a href="/alldailynotes">View All Daily Pages</a></li>
            <li id='newList'><a href="/lists">New Long-Term Page</a></li>
            <li id='listArchive'><a href="/longterm">View All Long-Term Pages</a></li>

            <li class="uk-nav-header">TEMPLATES</li>

            <li><a href="#">View Your Templates</a></li>
            <li><a href="#">Example Templates</a></li>
            <li class="uk-nav-header">ACCOUNT</li>
            <li><a href="#theme-modal" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: star"></span>Change Your Theme</a></li>
            <li class="uk-nav-divider"></li>
            <li id='logout'><a href="/api/users/logout"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Log Out</a>
            </li>
        </ul>
    </div>
</div>

{{!-- Theme changer pop up --}}
<div id="theme-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h2 class="uk-modal-title uk-align-center">Themes</h2>
        <div class='uk-flex uk-flex-around'>
            <label><span class="uk-icon uk-icon-image"
                    style="background-image: url(/images/defaulttheme.png);"></span><br><input class="uk-radio"
                    type="radio" name="radio1" id='default-theme'>Default</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/softtheme.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='soft-theme'>
                Soft Default</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/greentheme.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='green_theme'>
                Soft Green</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/naturaltheme.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='natural-theme'>
                Natural</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/darkmode.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='dark-mode'>
                Default Dark</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/darkmono.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='dark-mono'>
                Classic Dark Mode</label>
            
        </div>
        <br><br>

        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary uk-modal-close" type="submit" id='theme-switch'>Save</button>
        </p>
    </div>
</div>

<div class='uk-align-right uk-margin-xlarge-right'>
    <button id="savePage" class="uk-button uk-button-default">Save List</button>
    <button uk-toggle='target:#deleteConfirm' class="uk-button uk-button-default">Delete List</button>
    <div id="deleteConfirm" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <p>Are you sure you want to delete your list? This cannot be undone!</p><br><br>
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" id='deleteList'>Delete This List</button>
        </div>
    </div>
</div>

<form class="uk-margin-auto uk-width-5-6">
    <label for="listTitle">Title:</label>
    <textarea class="uk-textarea uk-form-blank" rows="1" id="listTitle" type="text" placeholder="My Monthly Movies to Watch...">{{title}}</textarea>
    <label for="listText1">Content:</label>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText1">{{content1}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText2">{{content2}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText3">{{content3}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText4">{{content4}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText5">{{content5}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText6">{{content6}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText7">{{content7}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText8">{{content8}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText9">{{content9}}</textarea>
    <textarea class="uk-textarea uk-form-blank" rows="1" type="text" placeholder="your movie here"id="listText10">{{content10}}</textarea>
</form>

<script src="/js/lists.js"></script>
<script src="/js/themes.js"></script>